<div id="pollroom">

    <nav class="navbar navbar-default" id="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a (click)="leavePollroom()" class="navbar-brand" routerLink="/">
                    <i class="fa fa-sign-out fa-fw rotate-icon-180"></i>
                </a>
            </div>

            <h3 class="text-center">{{ pollroom.name }}</h3>
        </div>
    </nav>

    <div class="container">

            <div class="col-md-2 stats">
                <pollroom-stats
                        [socket]="socket"
                        [pollroom]="pollroom"
                        #pollroomStats
                        [nbTotalAnswers]="nbTotalAnswers">
                </pollroom-stats>
            </div>

            <div class="col-md-8 poll">

                <div class="row">
                    <div *ngFor="let question of pollroom.questions">

                        <question-view
                                [socket]="socket"
                                [question]="question"
                                [nbParticipants]="pollroom.nb_participants"
                                (onChecked)="pollroomStats.onChecked($event)"
                                (onQuestionEdit)="editQuestion($event)"
                                (onQuestionEditForm)="questionCreator.editQuestion($event)">
                        </question-view>

                    </div>
                </div>

                <div class="row" id="sticky-footer">
                    <div class="footer">
                        <question-creator
                                #questionCreator
                                [pollroomId]="pollroom.id"
                                [socket]="socket"
                                (onPublish)="onQuestionPublished($event)"
                                (onUpdate)="updateQuestion($event)"
                                (onUpdateCanceled)="updateQuestion($event)">
                        </question-creator>
                    </div>
                </div>

            </div>

    </div><!-- /.container -->


</div>