<div id="pollroom">

    <div class="container">

        <div class="row">

            <div class="col-md-2 stats">
                <h3>PollRoom <br> <i class="fa fa-sign-in fa-fw"></i> <b>182496</b></h3>
                <hr class="small">
                <h3>20 <i class="fa fa-child fa-fw"></i> participants </h3>
                <h3>14 <i class="fa fa-question-circle fa-fw"></i> questions</h3>

                <hr class="small">

                <h5>Completion</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         [attr.aria-valuenow]="nbAnswers / nbTotalAnswers * 100"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         [ngStyle]="{'width': (nbAnswers < nbTotalAnswers ? nbAnswers : nbTotalAnswers) / nbTotalAnswers * 100 + '%'}">
                        {{nbAnswers / nbTotalAnswers * 100 | number:'.0-0' }}%
                    </div>
                </div>

                <a routerLink="/dashboard" id="leave-pollroom" class="btn btn-default">Leave <i class="fa fa-sign-out fa-fw"></i></a>
            </div>

            <div class="col-md-8">

                    <div *ngFor="let question of questions">

                        <question-view
                                [question]="question"
                                (onChecked)="onChecked($event)"></question-view>

                    </div>

            </div>

        </div>

    </div><!-- /.container -->

    <div id="sticky-footer">
        <div class="footer">
            <question-creator
                    (onPublish)="onPublish($event)">
            </question-creator>
        </div>
    </div><!-- /.col-lg-6 -->
</div>