.stats {
    color: #ffffff;
    background-color: #3d9970;
}

#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0 !important;
}

#sticky-footer .footer {
    max-width: 650px;
    margin: 0 auto;
    background-color: #ffffff;
    padding:0.5em;
    border: 1px solid #b5b5b5;
}

#leave-pollroom {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}