.stats {
    position: fixed;
    color: #ffffff;
    width: 200px;
    background-color: rgba(130, 46, 61, 0.8);
    margin-right: 15px;
    margin-top: 50px;
    padding-top: 10px;
}

.poll {
    margin-top: 50px;
    margin-left: 215px;
    margin-bottom: 60px;
}

#navigation {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    border-radius: 0;
    height: 50px;
    z-index: 10;
}

#navigation h3 {
    margin-top: 10px;
}

#sticky-footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(126, 42, 57);
    width: 760px;
}

#sticky-footer .footer {
    padding:0.5em;
}

#leave-pollroom {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #sticky-footer {
        width: 626.66px;
    }
}

@media screen and (min-width: 770px) and (max-width: 992px) {
    #sticky-footer {
        width: 490px;
    }

    .stats {
        position: fixed;
        margin-right: 15px;
    }

    .poll {
        margin-left: 215px;
        margin-top: 50px;
    }

    #navigation h3 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 770px) {
    .stats {
        position: inherit;
        padding: 10px;
        width: 100%;
    }

    .poll {
        margin-left: 0;
        margin-top: 0;
    }

    #sticky-footer {
        width: 95.2%;
    }

    #navigation h3 {
        margin-top: -38px;
    }
}