<section id="gamification-leaderboard" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Leaderboard</h2>
        <hr class="small">
          <p class="lead">You are ranked #{{ rank }}</p>
        <div class="row">
          <div class="col-sm-12">


              <table class="table text-left">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>User</th>
                      <th>Level</th>
                      <th>Score</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr [ngStyle]="{'background-color': user.user_id === leader.user_id ? '#5cb85c' : 'none'}"
                    *ngFor="let leader of leaderboard; let index = index;">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ leader.user_id }}</td>
                      <td>{{ leader.level.name }}</td>
                      <td>{{ leader.points }} pts</td>
                  </tr>
                  </tbody>
              </table>

          </div>

        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>