<section id="gamification-leaderboard" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Leaderboard</h2>
        <hr class="small">
          <p class="lead">You are ranked #2</p>
        <div class="row">
          <div class="col-sm-12">


              <table class="table text-left">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>User</th>
                      <th>Level</th>
                      <th>Score</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr style="background-color: #5cb85c">
                      <th scope="row">1</th>
                      <td>95e18022-6fc1-43f7-3ff8-471e8b62c8bd</td>
                      <td>Expert</td>
                      <td>1200 pts</td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>95e18022-6fc1-43f7-3ff8-471e8b62c8bd</td>
                      <td>Intermediate</td>
                      <td>550 pts</td>
                  </tr>
                  <tr>
                      <th scope="row">3</th>
                      <td>95e18022-6fc1-43f7-3ff8-471e8b62c8bd</td>
                      <td>Beginner</td>
                      <td>55 pts</td>
                  </tr>
                  </tbody>
              </table>

          </div>

        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>