<div class="question">
    <span style="float: left; color: #000000; font-weight: 100; padding-left: 5px;">3 hours ago</span>
    <span style="float: right;">
        <span *ngIf="displayCloseHint" style="color: #555555; padding-right: 3px; font-weight: 100;">On click, display results and lock question</span>
        <span *ngIf="displayOpenHint" style="color: #555555; padding-right: 3px; font-weight: 100">On click, hide results and unlock question</span>
        <button *ngIf="!questionIsClosed" (click)="closeQuestion()" (mouseover)="displayCloseHint = true" (mouseleave)="displayCloseHint = false" class="btn btn-danger btn-sm">Close <i class="fa fa-lock fa-fw"></i></button>
        <button *ngIf="questionIsClosed" (click)="openQuestion()" (mouseover)="displayOpenHint = true" (mouseleave)="displayOpenHint = false" class="btn btn-success btn-sm">Open <i class="fa fa-unlock fa-fw"></i></button>
    </span>
    <h3 style="margin-top: 30px;">{{ question.label }}</h3>
    <div class="ck-button" *ngFor="let answer of question.answers">
        <label>
            <input (change)="check($event, question.id, answer.id)" type="checkbox" id="{{answer.id}}{{answer.letter}}" name="selector-{{question.id}}">
            <span style="padding-right: 10px; padding-left: 15px; float: left; width: 45px">({{ answer.letter }}) </span>
            <span style="float: left; width: calc(100% - 45px)">{{ answer.label }}</span>
        </label>
    </div>

    <response-view
            [question]="question"
            [questionIsClosed]="questionIsClosed"></response-view>

    <div class="row">
        <div class="col-xs-2 vote-up" style="margin-top: 20px;">
            <a (click)="voteUp()"><i class="fa fa-thumbs-up fa-3x" [style.color]="getVoteUpStyle()"></i></a>
            <span>1</span>
        </div>

        <div class="col-xs-8 text-center" style="padding: 6px; margin-top: 20px; font-size: 1.5em; font-weight: 100;">
            X / 20 answers
        </div>

        <div class="col-sm-2 vote-down" style="margin-top: 20px;">
            <a (click)="voteDown()"><i class="fa fa-thumbs-up fa-3x rotate-icon-180" [style.color]="getVoteDownStyle()"></i></a>
            <span>-1</span>
        </div>
    </div>
</div>