h3 {
    padding-left: 5px;
    font-weight: 400;
}

.question {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid rgba(158, 154, 151, 0.9);
    padding: 10px 10px 20px 10px;

}

.last-margin {
    margin-bottom: 20px !important;
}

div label input {
    margin-right:100px;
}

.ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
}

.ck-button:hover {
    background: rgba(126, 42, 57, 0.7);
    color: #ffffff;
    cursor: pointer;
}

.ck-button label {
    float:left;
    font-weight: 400;
    width: 100%;
    margin-bottom: 0;
}

.ck-button label span {
    text-align:left;
    display:block;
    cursor: pointer;
}

.ck-button span {
    padding: 5px;
}

.ck-button label input {
    position:absolute;
    top:-20px;
}

.ck-button input:checked + span {
    background-color: rgb(126, 42, 57);
    color:#fff;
}

.vote-up span {
    float: left;
    font-size: 2em;
    font-weight: 100;
    margin-left: 10px;
}

.vote-up a {
    cursor: pointer;
}

.vote-up i {
    float: left;
    margin-left: -10px;
}

.vote-up-colored {
    color: #5cb85c;
}

.vote-down-colored {
    color: #b90e14;
}

.vote-down span {
    float: right;
    font-size: 2em;
    font-weight: 100;
    margin-right: 10px;
}

.vote-down a {
    cursor: pointer;
}

.vote-down i {
    margin-right: -10px;
    float: right;
}