<ul class="progress-bars" *ngIf="question.status === 'closed'">
  <li *ngFor="let answer of question.answers; let last = last;">
    <div class="row">

      <div class="col-xs-1">
        <span style="padding-left: 15px;">({{ answer.letter }})</span>
      </div>

      <div class="col-xs-10">
        <div class="progress" [ngStyle]="{'last-margin': last}">
          <div class="progress-bar progress-bar-success" role="progressbar"
               aria-valuenow="30"
               aria-valuemin="0"
               aria-valuemax="100"
               [ngStyle]="{'width': (answer.nb_responses < question.nb_participants ? answer.nb_responses : question.nb_participants) / question.nb_participants * 100 + '%'}">
            {{answer.nb_responses / question.nb_participants * 100 | number:'.0-0' }}%
          </div>
        </div>
      </div>

      <div class="col-xs-1">
        <span style="float: right;">{{ answer.nb_responses }}</span>
      </div>

    </div>
  </li>
</ul>