<div class="text-center">
    <h4><i class="fa fa-key fa-fw"></i> Room <b>182496</b></h4>

    <a routerLink="/" id="leave-pollroom" class="btn btn-default"><i class="fa fa-sign-out fa-fw rotate-icon-180"></i> Leave</a>
    <hr class="small">
</div>

<div class="row">
    <div class="col-xs-4 room-stats">
        <h4>20 <i class="fa fa-child fa-fw"></i> participants </h4>
    </div>

    <div class="col-xs-4 room-stats">
        <h4>14 <i class="fa fa-question-circle fa-fw"></i> questions</h4>
    </div>

    <div class="col-xs-4 room-stats">
        <h4>48 <i class="fa fa-lightbulb-o fa-fw"></i> answers</h4>
    </div>
</div>


<hr class="small">

<h5 class="text-center">Completion</h5>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar"
         [attr.aria-valuenow]="nbAnswers / nbTotalAnswers * 100"
         aria-valuemin="0"
         aria-valuemax="100"
         [ngStyle]="{'width': (nbAnswers < nbTotalAnswers ? nbAnswers : nbTotalAnswers) / nbTotalAnswers * 100 + '%'}">
        {{nbAnswers / nbTotalAnswers * 100 | number:'.0-0' }}%
    </div>
</div>