.plus-answer {
    margin-top: 10px;
    margin-left: -6px;
}

#plus-question {
    margin-top: 20px;
}

.plus-answer button {
    padding: 5px 8px;
}

input {
    border-color: #e2e2e2;
    border-radius: 0;
}

button {
    border-radius: 0;
}

.answer {
    margin-top: 5px;
    border: 0;
}

.minus {
    padding: 0 3px 0 0;
    background-color: #ffffff;
    border: 0;
}

.input-group-addon {
    padding: 2px 10px;
    border: 0;
    border-radius: 0;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    border-radius: 0;
}

.status-question {

}