#plus-question {
    margin-top: 20px;
    margin-bottom: 40px;
}

input {
    border-color: #e2e2e2;
    border-radius: 0;
}

button {
    border-radius: 0;
}

.poll-element {
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #e2e2e2;
}

.poll-creator-header {
    margin-bottom: 20px;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    border-radius: 0;
}