<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Poll creator</h1>
            <p class="lead">Here you can create and manage your polls</p>
            <hr class="small">
        </div>
    </div>

    <div class="row poll-creator-header">

        <div class="space col-md-5 text-right">
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a poll <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a routerLink="/pollcreator">Poll 1</a></li>
                    <li><a routerLink="/pollcreator">Poll 2</a></li>
                    <li><a routerLink="/pollcreator">Poll 3</a></li>
                </ul>
            </div>
        </div><!-- /.col-lg-6 -->

        <div class="col-md-5">
            <form [formGroup]="createPollForm" (ngSubmit)="createPoll()">
                <div class="input-group input-group">
                    <input type="text" class="form-control" formControlName="pollName" placeholder="Enter poll name">
                    <span class="input-group-btn">
                        <button class="btn btn-dark" type="submit" [disabled]="!createPollForm.valid"><i class="fa fa-plus fa-fw"></i> Create Poll</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div><!-- /.col-lg-6 -->

        <div class="col-md-2 text-right text-vertical-center">
            <span>DamienRonchon <a href="#">Logout</a></span>
        </div>
    </div><!-- /.row -->

    <div class="row" id="pollcreator-title">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-info-circle"></i> Poll name</span>
                <input type="text" class="form-control" value="Food quality in HEIG-VD">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i> Poll identifier</span>
                <input type="text" class="form-control" value="182496" disabled>
            </div>
        </div>
        <div class="col-sm-2 text-right">
            <button (click)="saveChanges()" class="btn btn-success"><i class="fa fa-save"></i> Save changes</button>
        </div>
    </div>

    <div class="row poll-element"
         *ngFor="let element of pollElements"
         [@flyInOut]>

        <div class="col-md-8">
            <question-creator
                    [question]="element.question"
                    (onDelete)="onDelete($event)"
                    (onPublish)="onPublish($event)"
                    (onClose)="onClose($event)"></question-creator>
        </div><!-- /.col-lg-6 -->

        <!--<div class="col-md-2 status-question text-center">-->
            <!--<button (click)="publish(element)" class="btn btn-success btn-lg" type="button"><i class="fa fa-cloud-upload fa-fw"></i> Publish</button>-->
            <!--<br>-->
            <!--<br>-->
            <!--<button (click)="removePollElement(element)" class="btn btn-danger btn-lg" type="button"><i class="fa fa-times fa-fw"></i> Delete</button>-->
        <!--</div>-->

        <div class="col-md-4">
            <advanced-pie-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    [gradient]="gradient"
                    (click)="clickPieChart($event)">
            </advanced-pie-chart>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div id="plus-question" class="col-sm-12 text-center">
            <button (click)="addPollElement()" class="btn btn-success btn-lg" type="button"><i class="fa fa-plus fa-fw"></i> New Question</button>
        </div>
    </div>

</div>
<!-- /.container -->