<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Poll creator</h1>
            <p class="lead">Here you can create and manage your polls</p>
            <hr class="small">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <button class="btn btn-danger btn-lg" type="button"><i class="fa fa-times fa-fw"></i></button>
        </div>

        <div class="col-lg-5">

            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-question fa-fw"></i></span>
                <input type="text" class="form-control" placeholder="Write your question here" aria-describedby="sizing-addon1">
            </div>

            <div class="input-group answer">
                <span class="input-group-addon minus">
                    <button class="btn btn-danger btn-sm" type="button"><i class="fa fa-minus"></i></button>
                </span>
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." placeholder="Answer...">
                </span>
                <input type="text" class="form-control" aria-label="...">
            </div>

            <div class="input-group answer">
                <span class="input-group-addon minus">
                    <button class="btn btn-danger btn-sm" type="button"><i class="fa fa-minus"></i></button>
                </span>
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." placeholder="Answer...">
                </span>
                <input type="text" class="form-control" aria-label="...">
            </div>

            <div class="input-group answer">
                <span class="input-group-addon minus">
                    <button class="btn btn-danger btn-sm" type="button"><i class="fa fa-minus"></i></button>
                </span>
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." placeholder="Answer...">
                </span>
                <input type="text" class="form-control" aria-label="...">
            </div>

            <div class="col-sm-12 plus-answer">
                <button class="btn btn-success btn-sm" type="button"><i class="fa fa-plus fa-fw"></i></button>
            </div>
        </div><!-- /.col-lg-6 -->

        <div class="col-lg-2 status-question">
            <button class="btn btn-success btn-lg" type="button"><i class="fa fa-cloud-upload fa-fw"></i> Publish</button>
        </div>

        <div class="col-lg-4">
            <h3>Pie chart here</h3>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div id="plus-question" class="col-sm-12 text-center">
            <button class="btn btn-success btn-lg" type="button"><i class="fa fa-plus fa-fw"></i></button>
        </div>
    </div>

</div>
<!-- /.container -->