<!-- Dashboard -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Dashboard</h1>

                <br>

                <div class="row">

                    <div class="space col-md-6">
                        <form [formGroup]="newPollForm" (ngSubmit)="createPoll()">
                            <div class="input-group input-group-lg">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="submit" [disabled]="!newPollForm.valid"><i class="fa fa-plus fa-fw"></i> New Poll</button>
                            </span>
                                <input type="text" class="form-control" formControlName="pollName" placeholder="Enter poll name">
                            </div><!-- /input-group -->
                        </form>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-md-6">
                        <form [formGroup]="joinPollForm" (ngSubmit)="joinPoll()">
                            <div class="input-group input-group-lg">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="submit" [disabled]="!joinPollForm.valid"><i class="fa fa-sign-in fa-fw"></i> Join Poll</button>
                            </span>
                                <input type="text" class="form-control" formControlName="pollRoomNumber" placeholder="Enter pollroom's number">
                            </div><!-- /input-group -->
                        </form>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>
        </div>

        <global-stats></global-stats>
        <barchart></barchart>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>