<!-- Dashboard -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Welcome, DamienRonchon</h1>

                <br>

                <div class="row">

                    <div class="space col-md-6">
                        <form [formGroup]="newPollForm" (ngSubmit)="createPoll()">
                            <div class="input-group input-group-lg">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="submit" [disabled]="!newPollForm.valid"><i class="fa fa-plus fa-fw"></i> Create Poll</button>
                            </span>
                                <input type="text" class="form-control" formControlName="pollName" placeholder="Enter poll name">
                            </div><!-- /input-group -->
                        </form>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-md-6">
                        <form [formGroup]="joinPollForm" (ngSubmit)="joinPoll()">
                            <div class="input-group input-group-lg">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="submit" [disabled]="!joinPollForm.valid"><i class="fa fa-sign-in fa-fw"></i> Join Poll</button>
                            </span>
                                <input type="text" class="form-control" formControlName="pollRoomNumber" placeholder="Enter pollroom's number">
                            </div><!-- /input-group -->
                        </form>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>
        </div>

        <div class="row">
            <global-stats></global-stats>
        </div>

        <div class="row">
            <div class="col-sm-6 text-center">
                <button class="btn btn-default btn-block tab-btn" (click)="openPollsCreated()">Polls created</button>
            </div>
            <div class="col-sm-6 text-center">
                <button class="btn btn-default btn-block tab-btn" (click)="openPollsJoined()">Polls joined</button>
            </div>
        </div>

        <div class="row">
            <div *ngIf="displayPollsCreated">
                <h2>Polls created</h2>
                <bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (click)="clickBar($event)">
                </bar-vertical>
            </div>

            <div *ngIf="displayPollsJoined">
                <h2>Polls joined</h2>
                <bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (click)="clickBar($event)">
                </bar-vertical>
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>