<!-- Dashboard -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Dashboard</h1>

                <br>

                <div class="row">
                    <div class="space col-md-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="button">Create Poll</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Enter poll name">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="button">Join Poll</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Enter pollroom's number">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>
        </div>

        <global-stats></global-stats>
        <barchart></barchart>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>