.pollak-style {
    color: #ffffff;
    text-shadow: 3px 3px 3px #351114;
}

.bg-primary {
    background-color: #de1018;
}

a {
    color: #de1018;
}

a:hover {
    color: #b90e14;
}

.text-primary {
    color: #de1018;
}

.table td, .table th {
    text-align: center;
    width: 25%;
}

.nice-font {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.text-secondary {
    color: #fff;
}

.bg-aqua {
    color: #bd1b1b;
    text-transform: uppercase;
}

.poll-listing {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 3px #351114;
    line-height: 2.5em;
}

.poll-item:first-child {
    margin-left: 36px;
    font-size: 3em;
}

.poll-item:nth-child(2) {
    margin-left: 12px;
    font-size: 1.5em;
    line-height: 1em;
}

.poll-item:nth-child(3) {
    margin-left: 4px;
    font-size: 1.5em;
    line-height: 1em;
}

.poll-item {

}