<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 class="pollak-style">Create interactive polls with {{ brandName }}</h1>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-4">
                    <ul class="poll-listing">
                        <li class="poll-item">{{ nbRoomCreated | thousandSeparator }} <i class="fa fa-comments fa-fw"></i> polls created</li>
                        <li class="poll-item">{{ nbQuestionAsked | thousandSeparator}} <i class="fa fa-question-circle-o fa-fw"></i> questions asked</li>
                        <li class="poll-item">{{ nbAnswer | thousandSeparator}} <i class="fa fa-sign-in fa-fw"></i> polls joined</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <button (click)='openRegisterForm()' class="btn btn-dark btn-lg">Register Now !</button>
        <form class="form-inline" *ngIf="visibleRegisterForm" [@flyInOut] [formGroup]="registerForm" (ngSubmit)="register()">
            <br>
            <div class="form-group">
                <input class="form-control" type="text" name="name" formControlName="registerName" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="pass" formControlName="registerPass" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmedPass" formControlName="registerConfirmedPass" placeholder="Confirm Password">
            </div>
            <button class="btn btn-light btn-sm" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-floppy-o"></i> Register</button>
        </form>
        <br>
        <br>
        <button (click)='openLoginForm()' class="btn btn-light">Login</button>
        <form class="form-inline" *ngIf="visibleLoginForm" [@flyInOut] [formGroup]="loginForm" (ngSubmit)="login()" style="text-align:center">
            <br>
            <div class="form-group">
                <input class="form-control" type="text" name="name" formControlName="loginName" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="pass" formControlName="loginPass" placeholder="Password">
            </div>
            <button class="btn btn-light btn-sm" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-refresh"></i> Login</button>
        </form>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ brandName }} is a simple solution to create polls with multiple choices questions</h2>
                <p class="lead">Create a poll, ask your questions. Or join a poll, answer the questions. It has never been so easy.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Our Services</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-group fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Pollroom</strong>
                            </h4>
                            <p>Create a questionnary in a pollroom and invite your audience to join it with the pollroom identifier.</p>
                            <button (click)="openPollroomModal()" class="btn btn-light">Learn More</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Questions</strong>
                            </h4>
                            <p>A very intuitive formular allows you to create and publish multiple choices questions.</p>
                            <button (click)="openQuestionsModal()" class="btn btn-light">Learn More</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-hand-pointer-o fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Answers</strong>
                            </h4>
                            <p>Join a Pollroom and answer questions. Your answers will be instantly considered.</p>
                            <button (click)="openAnswersModal()" class="btn btn-light">Learn More</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-area-chart fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Statistics</strong>
                            </h4>
                            <p>Watch some valuable stats about your audience's answers and much more!</p>
                            <button (click)="openStatisticsModal()" class="btn btn-light">Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Boost your audience with {{ brandName }}</h1>
    </div>
</aside>

<!-- Portfolio -->
<section id="preview" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Preview</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a routerLink="/pollcreator">
                                <img class="img-portfolio img-responsive" src="../../public/assets/img/pollcreator.PNG">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a routerLink="/dashboard">
                                <img class="img-portfolio img-responsive" src="../../public/assets/img/dashboard.PNG">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a routerLink="/pollroom">
                                <img class="img-portfolio img-responsive" src="../../public/assets/img/pollroom.PNG">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Interested ? Take a deeper look</h3>
                <a routerLink="/dashboard" class="btn btn-lg btn-light">Try Now!</a>
                <!--<a href="#" class="btn btn-lg btn-dark">Look at Me!</a>-->
            </div>
        </div>
    </div>
</aside>

<!-- Footer -->
<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>{{ brandName | uppercase }}</strong>
                </h4>
                <p>Rte de Cheseaux 1
                    <br>1400 Yverdon-les-Bains
                    <br>Switzerland</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> +41 24 424 10 10</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">info@{{ brandName | lowercase }}.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; {{ brandName }} 2016</p>
                <p class="text-muted">Bootstrap free template <a href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Stylish Portfolio</a></p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

<!-- Example with cats (from skeleton)
<div class="container">

    <div class="card" *ngIf="isLoading">
        <h4 class="card-header">Loading...</h4>
        <div class="card-block text-xs-center">
            <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
        </div>
    </div>

    <div class="card" *ngIf="!isLoading">
        <h4 class="card-header">Current cats ({{cats.length}})</h4>
        <div class="card-block">
            <table class="table table-bordered table-striped">
                <thead class="thead-default">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="cats.length === 0">
                <tr>
                    <td colspan="4">There are no cats in the DB. Add a new cat below.</td>
                </tr>
                </tbody>
                <tbody *ngIf="!isEditing">
                <tr *ngFor="let cat of cats">
                    <td>{{cat.name}}</td>
                    <td>{{cat.age}}</td>
                    <td>{{cat.weight}}</td>
                    <td>
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="isEditing">
                <tr>
                    <td colspan="4">
                        <form class="form-inline" #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="age" [(ngModel)]="cat.age" placeholder="Age" min="0" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="weight" [(ngModel)]="cat.weight" placeholder="Weight" step="any" min="0" required>
                            </div>
                            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
                        </form>
                        <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
-->
